body {
  overflow: hidden;
  background-color: #415C71;
  width: 100vw;
  height: 100vh;
}

h1 {
    font-weight: 700;
    color: #fefef8;
    font-size: 42px;
    letter-spacing: 2px;
    margin-top: 10px;
}

h3 {
    font-weight: 700;
    color: #D4DADA;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 30vh;
}

.filmImage {
    height: 70vh;
    width: 80vw;
    background-image: url('http://rankin.co.uk/media/SPEC_INTL_FNL_1SHT_LK1_IMX_02-283x420.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 5vw;
    left: 5vw;
}

.filmImageContainer {
    height: 93vh;
    width: 90vw;
    background-color: #fefef8;
    position: absolute;
    top: 5vw;
    left: 5vw;
}

#seenButton {
    position: absolute;
    bottom: 10vw;
    left: 10vw;
}

#saveButton {
    position: absolute;
    bottom: 10vw;
    right: 10vw;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
