body {
  overflow: hidden;
  background-color: #415C71;
  width: 100vw;
  height: 100vh;
}

h1 {
    font-weight: 700;
    color: #fefef8;
    font-size: 42px;
    letter-spacing: 2px;
    margin-top: 10px;
}

h3 {
    font-weight: 700;
    color: #D4DADA;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 30vh;
}

img {
    position: absolute;
    width: 20vw;
    border-radius: 10vw;
    height: 20vw;
    margin-left: 40vw;
    margin-top: 50px;
    -webkit-transition: -webkit-transform 0.5s; /* Safari */
    transition: transform 0.5s;
}

.picture {
    position: absolute;
    width: 20vw;
    border-radius: 10vw;
    height: 20vw;
    margin-left: 40vw;
    margin-top: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: #fefef8;
    text-align: center;
    color: #fefef8;
    background-color: #415C71;
    z-index: 999;
}

i {
    width: 100%;
}

#production {
    position: absolute;
    bottom: 2vh;
    width: 100vw;
    height: 24px;
    margin: 0;
    text-align: center;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
